<!-- <div style="text-align:center">
  <h1>
  LocalCast Weather
  </h1>
  <div>Your city, your forecast, right now!</div>
  <h2>Current Weather</h2>
  <div>
    <app-current-weather></app-current-weather>
  </div>
</div> -->


<!DOCTYPE html>
<html>
	<head>
		<title>
			Welcome to form css
		</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="registration-form">
					<h1 class="heading">Welcome to Registration form</h1>
					<div class="first-name">
						<p class="col-xs-12 col-sm-3 col-lg-3">First Name</p>
						<div class="col-xs-12 col-sm-9 col-lg-9">
							<input type="text" class="form-control" placeholder="first name" name="firstname"/>
						</div>
					</div>
					<div class="first-name">
						<p class="col-xs-12 col-sm-3 col-lg-3">Middle Name</p>
						<div class="col-xs-12 col-sm-9 col-lg-9">
							<input type="text" class="form-control" placeholder="middle name" name="middlename"/>
						</div>
					</div>
					<div class="first-name">
						<p class="col-xs-12 col-sm-3 col-lg-3">Last Name</p>
						<div class="col-xs-12 col-sm-9 col-lg-9">
							<input type="text" class="form-control" placeholder="last name" name="lastname"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>